@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}
.shop-cart {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f4f2f2;
}
main {
    display: flex;
    justify-content: center;
}
.shop-cart-container {
    width: 1700px;
}
.header-top {
    width: 1700px;
}
.header-top .header-top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 100px;
}
.header-top .header-top-item .logo img {
    width: 100px;
}
.header-top .header-top-item .navbar {
    padding: 10px 20px;
    font-weight: 400;
}
.header-top .header-top-item .navbar ul {
    display: flex;
}
.header-top .header-top-item .navbar ul li {
    list-style: none;
}
.header-top .header-top-item .navbar a {
    color: black;
    font-size: 1.1rem;
    margin: 0 1rem;
    position: relative;
    font-weight: 600;
}
.header-top .header-top-item .navbar a::after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: all 0.3s cubic-bezier(0.01, 0.01, 0.01, 0.01);
}
.header-top .header-top-item .navbar a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}
.header-top .header-top-item .navbar .navbar-menu {
    position: absolute;
    z-index: 1;
    background: #fff;
    list-style: none;
    margin: 20px 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    row-gap: 10px;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul li {
    padding: 10px 0;
    font-weight: 400;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul li.border-bt {
    border-bottom: 1px solid #dddddd;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul li.border-bt:last-child {
    border-bottom: 0;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul li .menu-header {
    font-weight: bold;
    font-size: 17px;
}
.header-top .header-top-item .navbar .navbar-menu .navbar-menu-1 ul li a {
    font-size: 15px;
}
.header-top .header-top-item .navbar ul .navbar-hidden:hover .navbar-menu {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.search {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 230px;
  }
  
  .input {
    width: 100%;
    height: 3rem;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
  }
  
 .search .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }

.header-top .header-top-item .right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-top .header-top-item .right .fa-bars {
    padding: 12px;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #f4f2f2;
    border-radius: 0.7rem;
    display: none;
    line-height: 1.5rem;
}
.header-top .header-top-item .right .account a, .cart a {
    text-decoration: none;
    color: black;
    padding: 12px;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #f4f2f2;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
}
.header-top .header-top-item .right .account-on {
    position: relative;
}
.header-top .header-top-item .right .account-on .account-on-a {
    color: black;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    background: #f4f2f2;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top .header-top-item .right .account-on .account-on-a .name-on {
    margin-left: 10px;
}
.header-top .header-top-item .right .account-on .account-on-a .img-on {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.header-top .header-top-item .right .account-on .list_profile {
    position: absolute;
    width: 100%;
    top: 130%;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 0.5rem;
    background: #fff;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-top .header-top-item .right .account-on:hover .list_profile {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1)
}
.header-top .header-top-item .right .account-on .list_profile ul {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.header-top .header-top-item .right .account-on .list_profile .item_profile {
    list-style: none;
    padding: 10px 0;
    background: #f4f2f2;
    border-radius: 0.25rem;
}
.header-top .header-top-item .right .account-on .list_profile .item_profile a {
    margin-left: 10px;
    color: #0d0c22;
    width: 100%;
    display: block;
    font-weight: 600;
}
.header-top .header-top-item .right .account-on .account-on-a i {
    margin-left: 5px;
    font-size: 12px;
}
.header-top .header-top-item .right .account-on i, .account i, .cart i {
    font-size: 20px;
    line-height: 1.5rem;
    margin-top: 1px;
    margin-left: 2px;
}

.header-top .header-top-item .right .cart .fa-cart-plus {
    position: relative;
}
.header-top .header-top-item .right .cart .fa-cart-plus::after {
    position: absolute;
    content: "1";
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background: #f50963;
    color: #fff;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
}
.fa-xmark {
    font-size: 24px;
}

nav {
    width: 100%;
}
.nav-2 {
    margin-top: 30px;
}
nav img {
    width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: cover;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu .filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu .filter .filter-1, .sort-by .filter-1 {
    padding: 10px;
}
.menu .filter .filter-1 select, .sort-by .filter-1 select {
    color: #0d0c22;
    padding: 10px;
    background: #f4f2f2;
    border: 1px solid #f4f2f2;
    height: 40px;
    border-radius: 0;
}
.menu .filter .filter-1 select:focus, .sort-by .filter-1 select:focus {
    outline: none;
}
.card .card-title {
    padding: 40px 0 20px 0;
}
.card .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; 
}
.card .card-container .card-item {
    margin: 10px 0;
    border: 1px solid #f4f2f2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 2px 0px;
}
.card .card-container .card-item:hover {
    transition: all 0.5s ease-out 0s;
    margin: -10px -10px 0 -10px;;
    padding: 20px 20px 0px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card .card-container .card-item .card-top  {
    position: relative;
}
.card .card-container .card-item .card-top::after {
    width: 40px;
    height: 20px;
    background: red;
    position: absolute;
    content: "New";
    font-size: 12px;
    text-align: center;
    color: white;
    top: 10px;
    left: 0;
}
.card .card-container .card-item .card-top img {
    max-width: 100%;
    max-height: 440px;
    background: #f4f2f2;
    cursor: pointer;
    padding: 20px;
}
/* .card .card-container .card-item .card-top img:hover {
    transform: scale(1.05);
    animation: all 0.2 ease;
} */
.card .card-container .card-item .card-bottom {
    padding: 0px 12px 15px;
}
.card .card-container .card-item .card-bottom .bottom-1 {

}
.card-bottom .bottom-2 .box-price .discout-price {
    color: #CD151C;
    font-weight: 600;
}
.card-bottom .bottom-2 .box-price .compare-price {
    text-decoration: line-through;
    font-size: 11px;
    color: #8A8A8F;
    padding-left: 10px;
}
/* ẩn title quá dài */
/* .card .card-container .card-item .card-bottom .bottom-2 span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
} */
.card .card-container .card-item .card-bottom .bottom-2 .rating {
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
}
.card .card-container .card-item .card-bottom .bottom-2 .rating i {
    color: #08ac0a;
}
.card .card-container .card-item .addtocart{ 
    border: 1px solid #003d29;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.card .card-container .card-item .addtocart:hover {
    background: #003d29;
    color: #fff;
}
.card .view-all-product {
    text-align: center;
    padding: 30px 0 0 0;
}
.card .view-all-product .view-all-product-headphone {
    background: #db4444;
    padding: 15px 40px;
    font-size: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.featured .featured-img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.featured .featured-img .box {
    border: 1px solid;
}
.featured .featured-img .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured .featured-img .feature-img-1 {
    grid-column: span 2;
    grid-row: span 2;
}
.featured .featured-img .feature-img-2 {
    grid-column: span 2;
}
.delivery-info {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.delivery-info .delivery-item .delivery-icon {
    display: flex;
    justify-content: center;
}
.delivery-info .delivery-item .delivery-icon-xs {
    width: 80px;
    height: 80px;
    border: 10px solid #f4f2f2;
    display: block;
    border-radius: 50%;
}
.delivery-info .delivery-item .delivery-icon-xs i {
    color: #fff;
    line-height: 3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background: black;
    border-radius: 50%;
}
.delivery-info .delivery-item .delivery-title {
   text-align: center;
   margin-top: 10px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    margin-top: 15px;
}
footer .footer-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-content .shop, .information, .customer-service, .newsletter {
    padding: 20px 0;
}
footer .footer-content .none ul .plus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-content .none ul .plus i {
    display: none;
    color: #fff;
    cursor: pointer;
}
footer .footer-content .none ul, .newsletter ul {
    padding: 30px 0;
}
footer .footer-content .shop ul li, .information ul li, .customer-service ul li, .newsletter ul li {
    padding: 5px;
    list-style: none;
}
footer .footer-content .shop ul li a , .information ul li a, .customer-service ul li a, .newsletter ul li a {
    color: white;
    text-decoration: none;
}
footer .footer-content .shop ul li .shop-1, .information ul li .shop-1, .customer-service ul li .shop-1, .newsletter ul li .shop-1 {
    font-weight: bold;
    padding: 5px 0;
}
footer .footer-content .shop ul li .shop-2, .information ul li .shop-2, .customer-service ul li .shop-2, .newsletter ul li .shop-2 {
    font-size: 13px;
}
footer .footer-content .shop ul li .shop-2:hover, .information ul li .shop-2:hover, .customer-service ul li .shop-2:hover, .newsletter ul li .shop-2:hover {
    text-decoration: underline;
}
footer .footer-content .newsletter .newsletter-text {
    color: white;
    font-size: 13px;
}
footer .footer-content .newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
footer .footer-content .newsletter form input {
    padding: 15px;
    margin-right: 10px;
    width: 100%;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 0;
}
footer .footer-content .newsletter form input:focus {
    outline: none;
}
footer .footer-content .newsletter form button {
    padding: 15px 40px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid black;
}
footer .footer-content .newsletter form button:hover {
    color: white;
    background: black;
    transition: all 0.3s ease;
    border: 1px solid white;
}
.footer-end {
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    border-top: 1px solid white;
}
.footer-end .footer-end-fix {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footer-end .text p {
    color: white;
    font-size: 12px;
    text-align: center;
}
.footer-end .footer-end-fix .card-bidv ul {
    display: flex;
    list-style: none;
}
.footer-end .footer-end-fix .card-bidv ul li svg {
    height: 32px;
    width: auto;
}
#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px 17px;
    cursor: pointer;
    z-index: 99;
  }
  
  #goToTopBtn:hover {
    background-color: #0056b3;
  }
  /* slider */
  .wrapper {
    position: relative;
}
.wrapper .arrow  {
    width: 36px;
    height: 36px;
    background: #343f4f;
    text-align: center;
    line-height: 36px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper .arrow:first-child {
    left: -18px;
}
.wrapper .arrow:last-child{
    right: -18px;
}
.wrapper .carousel {
    white-space: nowrap;
    overflow: hidden;;
    cursor: pointer;
    scroll-behavior: smooth;
}
.carousel img {
    max-height: 410px;
    object-fit: cover;
    width: calc(100% / 4 - 14px);
    margin-left: 14px;
    background: #f4f2f2;
    border-radius: 5px;
}
.carousel img:first-child {
    margin-left: 0px;
}
@media only screen and (max-width: 1024px) {
    .carousel img {
        width: calc(100% / 3);
    }
    .card .card-slider {
        padding: 0 20px;
    }
    .wrapper .arrow  {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }
    .wrapper .arrow:first-child {
        left: -16px;
    }
    .wrapper .arrow:last-child{
        right: -16px;
    }
}
@media only screen and (max-width: 768px) {
    .carousel img {
        width: calc(100% / 2);
    }
}