@media only screen and (max-width: 1300px) {
    .header-top .header-top-item .navbar {
        display: none;
        position: absolute;
        top: 90%;
        right: -110%;
        width: 18rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);;
        border-radius: 0.5rem;
        background: #fff;
        z-index: 1;
    }
    .header-top .header-top-item .active {
        right: 2rem;
        display: flex;
    }
    .header-top .header-top-item .navbar ul {
        flex-direction: column;
        margin: 10px 0;
        row-gap: 10px;
        width: 100%;
    }
    .header-top .header-top-item .navbar ul .navbar-hidden {
        padding: 10px 0;
        background: #f4f2f2;
        border-radius: 0.25rem;
    }
    .header-top .header-top-item .navbar a {
        margin: 1rem;
    }
    .header-top .header-top-item {
        padding: 0 20px;
    }
    .header-top .header-top-item .navbar .navbar-menu {
        left: -70%;
        margin: 0 !important;
    }
    .header-top .header-top-item .navbar .navbar-menu .navbar-menu-ul {
        margin: 0;
    }
    .card .card-title {
        padding: 40px 0 20px 15px;
    }

    .card .card-container {
        padding: 0 15px;
    }

    .card .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .input-select {
        gap: 20px;
    }
    .input-select .selection .address {
        appearance: none;
    }
    .card-img {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-title .bottom-1 .bottom-title {
        -webkit-line-clamp: 2;
    }
    .featured .featured-img {
        padding: 0 20px;
    }
    footer .footer-content {
        width: 100%;
        padding: 0 30px;
    }

    .footer-end .footer-end-fix {
        flex-direction: column;
        width: auto;
    }

    .header-top .header-top-item .right #menu {
        display: block;
    }
    .header-top .header-top-item .navbar a:hover:after {
        width: 100%;
    }
    .header-top .header-top-item .navbar ul .navbar-hidden:hover .navbar-menu::before {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .input-select {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-mid {
        flex-direction: column;
    }
    .mid-content-left {
        width: 100%;
    }
    .mid-content-right {
        width: 100%;
    }
 }
@media (max-width: 768px) {
    .card .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cart-col {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .cart-col .cart-img img {
        width: 57vw;
    }
    .shopping-cart {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 0;
    }
    .cart-col .cart-item {
        padding: 0 50px;
    }
    .featured .featured-img {
        grid-template-columns: repeat(2, 1fr);
    }
    footer .footer-content {
        flex-direction: column;
    }
    footer .footer-content .none, .newsletter {
        padding: 0;
    }
    footer .footer-content .none ul .plus {
        border-bottom: 1px solid #fff;
    }
    footer .footer-content .none ul .plus i{
        display: block;
    }
    footer .footer-content .none ul .plus-none {
        display: none;
    }
    footer .footer-content .none ul, .newsletter ul {
        padding: 15px 0;
    }
    footer .footer-content .shop ul .block {
        display: block;
    }
    footer .footer-content .information ul .block {
        display: block;
    }
    footer .footer-content .customer-service ul .block {
        display: block;
    }

}
@media (max-width: 600px) {
    .card-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .top-content {
        flex-wrap: wrap;
        gap: 10px;
    }
 }
@media (max-width: 480px) {
    .card .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .card .card-container .card-item .card-bottom .bottom-1 {
        font-size: 13px;
    }
    .card-title .bottom-1 {
        font-size: 13px;
    }
    .card .card-container .card-item .card-bottom .bottom-2 {
        font-size: 11px;
    }
    .search {
        display: none;
    } 
    .shopping-cart .shopping-cart-left .cart-item .cart-img .cart-name .name-title {
        padding: 5px 0;
    }

    .shopping-cart .shopping-cart-left .cart-item .cart-total .total-title {
        padding: 5px 0;
    }

    .cart-col .cart-item {
        padding: 0 45px;
    }

    .cart-col .cart-item .btn a {
        padding: 10px 34px;
    }

    .cart-col .cart-item .choose-color input[type="radio"] {
        width: 59px;
        height: 37px;
    }
    .header-top .header-top-item .navbar {
        width: 13rem;
    }
    .input-select {
        grid-template-columns: repeat(1, 1fr);
    }
    .card .card-container .card-item:hover {
        margin: -10px;
        padding: 10px;
    }
    .card-title .bottom-2 .addtocart {
        /* padding: 6px 15px; */
        font-size: 11px;
    }
}