.breadcrumbs {
    padding: 20px 10px 10px;
} 
.breadcrumbs a {
    text-decoration: none;
    color: #8f8b8b;
}
.breadcrumbs .link-shop {
    color: #CD151C;
    font-weight: 500;
}
.shop-container{
    padding: 10px;
}
.container-top {
    border: 1px solid #f4f2f2;
    padding: 20px;
}
.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-row-right {
    display: flex;
    gap: 10px;
}
.icon-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: #f4f2f2;
    color: black;
}
.icon-btn .fa-grip, .fa-bars {
    font-size: 20px;
}
#filter {
    padding: 10px 12px;
    background: #f4f2f2;
    border: none;
    border-radius: 0;
    color: black;
}
#filter:focus {
    outline: none;
}
.container-mid {
    display: flex;
    padding: 40px 0;
    gap: 30px;
}
.mid-content-left {
    width: 20%;
    height: auto;
}
.mid-content-right {
    width: 80%;
}
.box {
    margin-bottom: 15px;
}
.box ul li {
    text-decoration: none;
}
.box ul li.box-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f4f2f2;
    list-style: none;
}
.box ul li.box-li .fa-chevron-right {
    font-size: 13px;
    transition: transform 0.2s linear;
    margin-right: 5px;
}
.rotate-icon {
    transform: rotate(90deg); /* Áp dụng xoay 180 độ cho icon */
}
.box-list {
    margin-top: 10px; 
    display: none;
}
.block {
    display: block;
}
.disc {
    cursor: pointer;
    font-size: 14px;
}
.disc:hover {
    color: #f50963;
    margin-left: 10px;
}
.disc .fa-chevron-right {
    margin-right: 5px;
    font-size: 12px;
    transform: translateX(-5px);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    opacity: 0;
}
.disc:hover .fa-chevron-right {
    transform: translateX(0px);
    overflow: visible;
    opacity: 1;
}
.search-list {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .search__input {
    background: #fff;
    padding: 15px 10px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
    border: 1px solid #f4f2f2;
    margin-top: 5px;
  }
  
  
  .search__input:focus {
    outline: none;
    border: 1px solid red;
  }
  
  .search__button {
    border: none;
    background: none;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
  }
  .reset {
    padding: 20px 0;
  }
  .reset .reset-filter {
    padding: 10px;
    border: 1px solid #f50963;
    background: #f50963;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .reset .reset-filter:hover {
    background: blue;
    border: 1px solid blue;
  }
.mid-content-right {

}
.card-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card-toggle {
    border: 1px solid #f4f2f2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 2px 0px;
}
.card-picture {
    position: relative;
}
.card-picture .sale{
    content: "";
    position: absolute;
    left: -2px;
    top: 10px;
    display: flex;
    flex-direction: column;;
    gap: 5px;
}
.card-picture .sale .sale-xs {
    width: 40px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #f50963;
}
.card-picture .sale .sale-xspt {
    width: 40px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #000;
}
.card-picture .heart {
    position: absolute;
    content: "";
    top: 15px;
    right: 5px;
}
.card-picture .heart .heart-xs {
    background: #fff;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}
.card-picture .heart .heart-xs .fa-heart {
    display: flex;
    justify-content: center;
    line-height: 2;
    color: #f50963;
}
.card-picture .heart .heart-xs:hover {
    background: #f50963;
}
.card-picture .heart .heart-xs:hover .fa-heart {
    color: #fff;
}
.card-title {
    padding: 0px 12px 15px;
}
/* ẩn dòng có chữ quá dài thành dấu ...... */
.card-title .bottom-1 .bottom-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.card-title .bottom-2 .box-price .discout-price {
    color: #CD151C;
    font-weight: 600;
}
.card-title .bottom-2 .box-price .compare-price {
    text-decoration: line-through;
    font-size: 13px;
    color: #8A8A8F;
    padding-left: 10px;
}
.card-title .bottom-2 .rating {
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
}
.card-title .bottom-2 .rating i {
    color: #08ac0a;
}
.card-title .bottom-2 .option-swath {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-title .bottom-2 .option-swath .swath-color {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #cbcbcb;
}
.card-title .bottom-2 .option-swath .swath-color img {
    width: 100%;
    object-fit: cover;
}
.card-title .bottom-2 .option-swath .swath-color.active {
    border: 2px solid #fcaf17;
}
.card-title .bottom-2 .addtocart {
    border: 1px solid #003d29;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.card-title .bottom-2 .addtocart:hover {
    background: #003d29;
    color: #fff;
}
.card-picture img {
    max-width: 100%;
    max-height: 440px;
    background: #f4f2f2;
    cursor: pointer;
    padding: 20px;
}
.pagination {
    text-align: center;
}
.pagination .pagination-1 {
    padding: 6px 15px;
    border: 2px solid #f4f2f2;
    color: gray;
}
.pagination .pagination-1 i {
    margin-left: 5px;
    margin-top: 20px;
}
.pagination .active-pag {
    background: #f50963;
    color: #fff;
    border: 2px solid #f50963;
}
.pagination .pagination-1:hover {
    background: #f50963;
    color: #fff;
    border: 2px solid #f50963;
}
