.breadcrumbs {
    padding: 0 9px;
} 
.breadcrumbs a {
    text-decoration: none;
    color: #8f8b8b;
}
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px 10px;
}
.shopping-cart .shopping-cart-left {
    grid-column: span 2;
    height: fit-content;
}
.shopping-cart .shopping-cart-left .left-top, .left-bottom {
    border: 3px solid #f4f2f2;
    border-radius: 7px;
    padding: 20px;
}
.shopping-cart .shopping-cart-left .left-mid {
    padding: 15px 0 0;
}
.shopping-cart .shopping-cart-left .left-mid .checkbox-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.shopping-cart .shopping-cart-left .left-mid .checkbox-info .checkbox {
    width: 18px;
    height: 18px;
}
#left-bottom {
    display: none;
    transition: all 0.2s linear;
    margin-top: 20px;
}
#left-bottom .cart-title {
    margin-bottom: 20px;
}
.input-small {
    position: relative;
    padding: .75rem;
    transition: all 200ms ease-in-out;
    opacity: .8;
    border: none;
    background: #f4f2f2;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .input-label {
    color: #858585;
    margin-bottom: 4px;
    margin-left: 1px;
  }
  
  .input-helper {
    color: #858585;
    font-size: .75rem;
    color: red;
    margin-top: 6px;
    margin-left: 1px;
    visibility: hidden;
    transform: translateY(-.5rem);
    transition: all 100ms linear;
    z-index: -1;
  }
  
  .input-small::placeholder {
    color: rgb(145, 145, 145);
    font-size: .75rem;
  }
  
  .input-small::after {
    content: attr(placeholder);
    position: absolute;
    color: #161616;
    top: 0;
    left: 0;
  }
  
  .input-small:focus {
    outline: none;
  }
  
  .input-small:focus + .input-helper {
    visibility: visible;
    transform: translateY(0rem);
  }
  
  .input-small:focus::placeholder {
    visibility: hidden;
  }

.input-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 20px;
}
.input-select .selection {
    display: flex;
    flex-direction: column;
}
.input-select .selection .address {
    border-radius: 0;
    height: 40px;
    padding: .75rem;
    transition: all 200ms ease-in-out;
    opacity: .8;
    border: none;
    background: #f4f2f2;
    color: #858585;
}
.input-select .selection .address:focus {
    outline: none;
}
.shopping-cart .shopping-cart-left .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.shopping-cart .shopping-cart-left .cart-item .cart-img {
    display: flex;
    align-items: center;
    gap: 30px;
}
.shopping-cart .shopping-cart-left .cart-item .cart-img img {
    width: 15vw;
    background: #f4f2f2;
    padding: 10px;
    border-radius: 16px;
}
.shopping-cart .shopping-cart-left .cart-item .cart-img .cart-name .name-title {
    padding: 10px 0;
    font-size: clamp(14px, 3vw, 25px);
}
.shopping-cart .shopping-cart-left .cart-item .cart-img .cart-name span {
    font-size: clamp(14px, 2vw, 18px);
}
.shopping-cart .shopping-cart-left .cart-item .cart-total .total-title {
    padding: 10px 0;
    font-size: clamp(14px, 3vw, 20px);
}
.shopping-cart .shopping-cart-left .cart-item .cart-total span {
    font-size: clamp(14px, 2vw, 18px);
}
.shopping-cart .shopping-cart-right {
    border: 3px solid #f4f2f2;
    border-radius: 7px;
    grid-column: span 1;
    padding: 20px;
    height: fit-content;
}
.shopping-cart .shopping-cart-right .cart-title {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #f4f2f2;
}
.shopping-cart .shopping-cart-right .form {
    padding: 20px 0;    
}
.shopping-cart .shopping-cart-right .form input[type="radio"] {
    margin: 15px 0;
}
.shopping-cart .shopping-cart-right .form label {
    margin-left: 10px;
}
.shopping-cart .shopping-cart-right .cart-card ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.shopping-cart .shopping-cart-right .cart-card ul li svg {
    width: 80px;
    height: 50px;
}
.shopping-cart .shopping-cart-right .total-money {
    padding: 20px 0;
}
.shopping-cart .shopping-cart-right .total-money .money {
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.shopping-cart .shopping-cart-right .total-money .total-pay {
   margin-top: 15px;
   border-top: 1px solid #f4f2f2;
   font-weight: 700;
}
.shopping-cart .shopping-cart-right .total-money .pay {
    margin: 20px 0;
}
.shopping-cart .shopping-cart-right .total-money .pay .pay-btn {
    padding: 12px;
    border: 1px solid #003d29;
    text-decoration: none;
    border-radius: 24px;
    color: #003d29;
    font-weight: 600;
    width: 100%;
    display: block;
    text-align: center;
}
.shopping-cart .shopping-cart-right .total-money .pay .pay-btn:hover {
    color: #fff;
    background: #003d29;
}